<div class="credentials-modal">
  <div ng-if="!invalid" class="instructions">
    <p class="center"><b>{{fullName}}</b></p>
    <p>is not a public repository. Please enter credentials to attempt authorized access. This app will not store your credentials.</p> 
  </div>
  <div ng-if="invalid" class="instructions">
    <p class="center"><b>{{fullName}}</b></p>
    <p>The credentials you entered to access this repo are invalid.</p> 
  </div>

  <table>
    <tr>
      <td>username:</td>
      <td><input type="text" ng-model="username" /></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><input type="password" ng-model="password" /></td>
    </tr>
  </table>
  
  <div class="modal-buttons">
    <button ng-click="clone()" class="btn btn-primary">Continue Clone</button>
    <button ng-click="abort()" class="btn btn-primary">Abort Clone</button>
  </div>
</div>