<div class="main-modal">
  <div class="modal-tabs">
    <div 
      class="modal-tab" 
      ng-click="setTab('about')"
      ng-class="{active: activeTab === 'about'}">
      About
    </div>
    <div 
      class="modal-tab" 
      ng-click="setTab('ignored')"
      ng-class="{active: activeTab === 'ignored'}">
      Ignored
    </div>
    <div 
      ng-if="multipleRepos"
      class="modal-tab" 
      ng-click="setTab('contact')"
      ng-class="{active: activeTab === 'contact'}">
      Other
    </div>
  </div>

  <div class="close-button" ng-click="closeModal()">X</div>

  <div 
    ng-show="activeTab === 'about'" 
    class="about-tab" 
    ng-include="aboutTabPartial">
  </div>
  <ignored-files ng-show="activeTab === 'ignored'"></ignored-files>
  <contact-me ng-show="activeTab === 'contact'"></contact-me>
</div>