<div class="app-container {{state.colorScheme}}" fullscreen="isFullscreen">
  <div class="background"></div>
  <flower-terminal></flower-terminal>

  <div ng-show="state.currentRepo">
    <flower-viz></flower-viz>
    <flower-languages></flower-languages>
    <flower-control></flower-control>

    <button 
      class="open-modal btn btn-primary" 
      ng-click="openModal()">
      WTF?
    </button>

    <button
      class="toggle-fullscreen btn btn-primary"
      ng-click="toggleFullscreen()"
      ng-bind="isFullscreen ? 'exit full screen' : 'go full screen'">
    </button>
  </div>
</div>