.ignored-files {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .label-with-select {
    margin-bottom: 8px;
    select {
      width: 230px;
    }
  }
  .ignored-text {
    overflow: auto;
    word-wrap: break-word;
  }
}
